/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_HEADER_VIEW' {
        ext.args = 'view -h -H'
        ext.args2 = '\\(SM:\\S*\\)'
        ext.args3 = 's/SM://g'

    }

    withName: 'VCF2MAF' {
        ext.args = '--ncbi-build GRCh37 --species homo_sapiens --maf-center mskcc.org --max-filter-ac 10 --min-hom-vaf 0.7 --cache-version 86 --buffer-size 5000 --vep-data /var/cache --vep-path /usr/bin/vep --custom-enst /usr/bin/vcf2maf/data/isoform_overrides_at_mskcc'
    }

    withName: 'BCFTOOLS_CONCAT' {
        ext.args = '--output-type v --allow-overlaps --rm-dups all'
    }

    withName: 'DELLY_CALL' {
        ext.args = '--map-qual 1 --mad-cutoff 9 --geno-qual 5'
    }

    withName: 'DELLY_FILTER' {
        ext.args = '--filter somatic --altaf 0.04 --minsize 500 --maxsize 500000000 --ratiogeno 0.0 --pass --coverage 10 --controlcontamination 0 --gq 15 --rddel 0.800000012 --rddup 1.20000005'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
}
